




<!-- index.html -->

  <div class="container">
    <section class="about-me">
      <h2>About Me</h2>
      <p>🤔 Exploring new technologies and developing software solutions and quick hacks.</p>
       <p>🎬 As a movie buff, I immerse myself in captivating stories from various genres, taking inspiration from the art of storytelling.</p>
      <p>☕ When the world feels overwhelming, a perfect cup of tea becomes my secret elixir, calming my mind and rekindling my creativity.</p>
      <p>🌟 Grateful for every experience, I cherish the journey of life, embracing its twists and turns with open arms.</p>
    </section>
    <section class="skills">
      <h2>My Skills</h2>
      <ul class="skills-list">
        <li>Languages: Core Java, Javascript, C++, C, SQL, HTML, CSS</li>
        <li>Frameworks: NodeJS, ReactJS, Angular, ExpressJS, Spring, SpringBoot, JDBC, Hibernate, JSP servlet</li>
        <li>Databases: MongoDB, MySql</li>
        <li>Tools: Git, Jira, VScode, Eclipse</li>
        <li>Others: Data Structure and Algorithms, Rest API, Object Oriented Programming, AWS EC2</li>
      </ul>
    </section>
  </div>

