




<!-- index.html -->

  <div class="container">
    <section class="about-me">
      <h2>About Me</h2>
      <p>🤔 Exploring new technologies and developing software solutions and quick hacks</p>
       <p>🎬 I love watching movies from different genres and find inspiration in storytelling</p>
      <p>☕A cup of tea is my go-to when I need to relax and boost my creativity</p>
      <p>📖In my free time, I like to read philosophical books</p>
    </section>
    <section class="skills">
      <h2>My Skills</h2>
      


      <ul class="skills-list">
        <li>
            <h3>Languages:</h3>
            <span class="badge">Core Java</span> <span class="badge">Javascript</span> <span class="badge">C++</span><span class="badge">C</span><span class="badge">SQL</span><span class="badge">HTML</span> <span class="badge">CSS</span>
        </li>
        <li>
            <h3>Frameworks:</h3>
            <span class="badge">Spring</span><span class="badge">SpringBoot</span><span class="badge">JDBC</span> <span class="badge">Hibernate</span><span class="badge">JSP servlet</span> <span class="badge">NodeJS</span> <span class="badge">ReactJS</span><span class="badge">Angular</span><span class="badge">ExpressJS</span>
        </li>
        <li>
            <h3>Databases:</h3>
            <span class="badge">MongoDB</span> <span class="badge">MySql</span>
        </li>
        <li>
            <h3>Tools:</h3>
            <span class="badge">Git</span> <span class="badge">Jira</span> <span class="badge">VScode</span> <span class="badge">Eclipse</span>
        </li>
        <li>
            <h3>Others:</h3>
            <span class="badge">Data Structure and Algorithms</span><span class="badge">Rest API</span> <span class="badge">Oops</span> <span class="badge">Cloud Computing</span><span class="badge">Amazon Web Services (AWS)</span><span class="badge">Docker</span><span class="badge">Kafka</span> <span class="badge">Microservices</span>
        </li>
    </ul>
    
    
    
    </section>
  </div>

