
  <!--Footer container-->
<footer class="text-center text-white dark:bg-neutral-600">
    <div class="logos">
        <a href="https://www.linkedin.com/in/badal-jha-807582166/" target="_blank"><img src="../../../assets/images/linkedin.png" class="logo" ></a>
        <a href="https://github.com/Badal-Jha" target="_blank"><img src="../../../assets/images/github.png" class="logo" ></a>
       
      </div>
  
    <!--Copyright section-->
    <div
      class=" p-4 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200">
      © 2023 Copyright:
      Badal Jha
      
    </div>
  </footer>