footer{
    background-color:  #1C1D1D;
}
.logos{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}
.logo{
    margin: 5px;
    height: 40px;
    width: 40px;
    
}
@media  screen and (max-width:640px) {
   
    footer{
        margin-top: 150px;
    }
  }